.input-group {
	margin-bottom:15px;
}
.register {
	display:none;
}
.center {
	text-align:center;
	margin-top:30px;
	margin-bottom:20px;
}
.radio, .checkbox {
padding-left: 0px;

}
.radio, .checkbox {
margin-bottom: 20px;}